node_modules/
public/js

/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/

resources
logs

.clj-kondo
.cpcache
.lsp
.vimrc
.vim
coc-settings.json
.coc-settings.json
.tern-project
tags
tags.lock
tags.temp


